---
import Header from "../components/header.astro";
import "../styles/_globas.css";

interface Props {
  title?: string;
  locale?: "ru" | "en";
}

const {
  title = "Tetacom",
  locale = (Astro.currentLocale ?? "ru") as "ru" | "en",
} = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header locale={locale} />
    <main class="page">
      <slot />
    </main>
  </body>
</html>

<style>
  .page {
    min-height: 100vh;
  }
</style>
